body{
  background-color: var(--tg-theme-bg-color);
  color: #fff;
}

#section1{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.heading{
  text-align: center;
}
#section2{
  display: none;
}
.horizontal-card-list {
  display: flex;
  overflow-y: scroll; /* Enable horizontal scrolling */
  gap: 20px; /* Gap between cards */
}

.cards {
  width: 100%;
  height: 30px;
  border: 1px solid var(--tg-theme-bg-color);
  padding: 10px;
  background-color: var(--tg-theme-bg-color);
}
