body{
  background-color: var(--tg-theme-bg-color);
  color: #fff;
}

#section1{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.heading{
  text-align: center;
}


.section2 {
  width: 100%;
  display: none;
}

.heading {
  font-size: 17px;
  line-height: 21px;
  text-transform: uppercase;
  flex-grow: 1;
  padding: 0;
  margin: 0;
}

.vertical-card-list {
  width: 50%;
  display: grid;
  gap: 20px;
  max-height: 400px; /* Add a maximum height for vertical scrolling */
  overflow-y: scroll;
  padding: 10px 0;
}

.cards {
  display: flex; /* Adjust to display flex */
  align-items: center; /* Center content vertically */
  height: 100px; /* Adjust height as needed */
  border: 1px solid #ccc;
  padding: 5px 20px 5px 14px;
  background-color: var(--tg-theme-bg-color);
}

.card-image {
  text-align: center;
  width: 50px;
  height: 50px;
  margin-right: 11px;
}

.card-title {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  padding: 3px 0;
}

.card-description {
  margin-bottom: 10px;
}

.card-price {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  padding: 4px 0;
}
